[Unit]
Description=Bind mount /var/lib/munin for NFS sharing

[Mount]
What=/var/lib/munin
Where=/srv/nfs/munin
Options=bind

[Install]
WantedBy=multi-user.target
