# {{ ansible_managed }}
#
# See also:
# https://wiki.archlinux.org/index.php/Simple_stateful_firewall

*filter
:INPUT DROP [0:0]
:FORWARD {{ iptables_forward_policy }} [0:0]
:OUTPUT ACCEPT [0:0]
:TCP - [0:0]
:UDP - [0:0]

# Always accept those
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A INPUT -i lo -j ACCEPT

# Drop invalid packets
-A INPUT -m conntrack --ctstate INVALID -j DROP

# Allow ICMP echo requests
-A INPUT -p icmp -m icmp --icmp-type 8 -m conntrack --ctstate NEW -j ACCEPT

# Attach sshguard, TCP and UDP chains
-A INPUT -p tcp -m tcp --dport 22 -j sshguard
-A INPUT -p tcp --syn -m conntrack --ctstate NEW -j TCP
-A INPUT -p udp -m conntrack --ctstate NEW -j UDP

# Reject UDP with ICMP port unreachable and TCP with a RESET packet.
-A INPUT -p udp -j REJECT --reject-with icmp-port-unreachable
-A INPUT -p tcp -j REJECT --reject-with tcp-reset

# Reject other protocols with an ICMP protocol unreachable message.
-A INPUT -j REJECT --reject-with icmp-proto-unreachable

# Allow SSH
-A TCP -p tcp -m tcp --dport 22 -j ACCEPT
