# Managed by Ansible
# Modified to cat files in the rules.d directory
# instead of just iptables.rules.

[Unit]
Description=Packet Filtering Framework

[Service]
Type=oneshot
ExecStart=/usr/bin/sh -c "cat /etc/iptables/rules.d/* | /usr/bin/iptables-restore"
ExecReload=/usr/bin/sh -c "cat /etc/iptables/rules.d/* | /usr/bin/iptables-restore"
ExecStop=/usr/lib/systemd/scripts/iptables-flush
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
