<VirtualHost *:80>
    ServerName {{ ansible_default_ipv4.address }}
    DocumentRoot /srv/http/default
    <Directory /srv/http/default>
        Options -Indexes
        <Files index.html>
            Require all granted
        </Files>
    </Directory>
</VirtualHost>

<VirtualHost *:443>
    ServerName {{ ansible_default_ipv4.address }}
    DocumentRoot /srv/http/default
    SSLEngine on
    SSLOptions +StrictRequire
    <Directory />
        SSLRequireSSL
    </Directory>

    SSLCertificateFile {{ webserver_certificate_file }}
    SSLCertificateKeyFile {{ webserver_certificate_keyfile }}

    SSLVerifyClient none
    SSLProxyEngine off

    <IfModule mime.c>
        AddType application/x-x509-ca-cert   .crt
        AddType application/x-pkcs7-crl      .crl
    </IfModule>

    SetEnvIf User-Agent ".*MSIE.*" nokeepalive ssl-unclean-shutdown downgrade-1.0 force-response-1.0
    <Directory /srv/http/default>
        Options -Indexes
        <Files index.html>
            Require all granted
        </Files>
    </Directory>
</VirtualHost>
