{#
Documentation found here:
https://letsencrypt.readthedocs.org/en/latest/using.html#config-file
#}
email = {{ letsencrypt_email }}
domains = {{ letsencrypt_domains|join(', ') }}
authenticator = {{ letsencrypt_authenticator }}
webroot-path = {{ letsencrypt_webroot }}
agree-tos = True
text = True
