# dhcpd.conf
# {{ ansible_managed }}
#
# Sample configuration file for ISC dhcpd for Debian
#
#
# The ddns-updates-style parameter controls whether or not the server will
# attempt to do a DNS update when a lease is confirmed. We default to the
# behavior of the version 2 packages ('none', since DHCP v2 didn't
# have support for DDNS.)
ddns-updates on;
ddns-update-style standard;
do-forward-updates on;
ddns-domainname "private.deverteuil.net";
ddns-rev-domainname "in-addr.arpa.";

# option definitions common to all supported networks...
option domain-name "{{ bind_localdomain }}";
option domain-name-servers 192.168.13.8, 192.168.13.88;
use-host-decl-names on;
default-lease-time 3600;  # An hour
max-lease-time 14400;  # A day

# If this DHCP server is the official DHCP server for the local
# network, the authoritative directive should be uncommented.
authoritative;

key DHCP_UPDATER {
  algorithm HMAC-MD5.SIG-ALG.REG.INT;
  secret {{ dhcp_update_key }};
};

{% for subnet in dhcp_subnets %}
subnet {{ subnet.network }} netmask {{ subnet.netmask }} {
    range {{ subnet.pool[0] }} {{ subnet.pool[1] }};
    option routers {{ subnet.gateway }};
}

{% endfor %}
zone {{ bind_localdomain }}. {
  primary 192.168.13.8;
  key DHCP_UPDATER;
}

{% for subnet in dhcp_subnets %}
zone {{ subnet.zone }} {
  primary 192.168.13.8;
  key DHCP_UPDATER;
}

{% endfor %}
{% for host in dhcp_static_hosts %}
host {{ host.name }} {
  hardware ethernet {{ host.mac }};
  fixed-address {{ host.ip }};
}
{% endfor %}
