# {{ ansible_managed }}
#
# based on /usr/share/openvpn/examples/server.conf

dev tun
topology subnet
server 192.168.66.0 255.255.255.0
ifconfig-pool-persist ipp.txt
ca /root/easy-rsa/keys/ca.crt
cert /root/easy-rsa/keys/openvpn-server.crt
key /root/easy-rsa/keys/openvpn-server.key
dh /root/easy-rsa/keys/dh2048.pem
user nobody
group nobody
;persist-key
;persist-tun
push "route 192.168.13.0 255.255.255.0"
push "dhcp-option DNS 192.168.13.8"
push "dhcp-option DNS 192.168.13.88"
keepalive 10 120
comp-lzo
status openvpn-status.log
verb 3
