# {{ ansible_managed }}
#
# /usr/share/doc/openvpn/examples/sample-config-files/server.conf.gz

dev tun
proto tcp
topology subnet
client-to-client
server 192.168.66.0 255.255.255.0
ifconfig-pool-persist ipp.txt
client-config-dir ccd
ca /root/openvpn/keys/ca.crt
cert /root/openvpn/keys/openvpn-server.crt
key /root/openvpn/keys/openvpn-server.key
dh /root/openvpn/keys/dh2048.pem
user nobody
group nogroup
;persist-key
;persist-tun
push "route 192.168.13.0 255.255.255.0"
push "dhcp-option DNS 192.168.13.8"
push "dhcp-option DNS 192.168.13.88"
push "dhcp-option DOMAIN private.deverteuil.net"
keepalive 10 120
comp-lzo
status openvpn-status.log
verb 3
