# {{ ansible_managed }}

dev {{ item.dev|default(openvpn_dev) }}
proto {{ item.proto|default(openvpn_proto) }}
port {{ item.port|default(openvpn_port) }}
topology {{ item.topology|default(openvpn_topology) }}
mode {{ item.mode|default(openvpn_mode) }}
ifconfig {{ item.ifconfig }}
{% if item.topology|default(openvpn_topology) == "subnet" %}
ifconfig-pool {{ item.ifconfig_pool }}
ifconfig-pool-persist ipp-{{ item.name }}.txt
client-config-dir ccd
{% if item.client_to_client|default(openvpn_client_to_client) %}
client-to-client
{% endif %}
{% endif %}
tls-server
ca /root/openvpn/keys/ca.crt
cert /root/openvpn/keys/openvpn-server.crt
key /root/openvpn/keys/openvpn-server.key
dh /root/openvpn/keys/dh2048.pem
user nobody
group nogroup
persist-key
persist-tun
{% for push in item.push_rules|default([]) %}
push "{{ push }}"
{% endfor %}
keepalive 10 120
comp-lzo
status status-{{ item.name }}.log
verb {{ item.verb|default(openvpn_verb) }}
