[Unit]
Description=Hadoop
After=network.target

[Service]
ExecStart=/opt/hadoop/sbin/start-dfs.sh
ExecStop=/opt/hadoop/sbin/stop-dfs.sh
User=hdfs
Group=hdfs
Type=forking
TimeoutSec=120
PIDFile=/run/hadoop/hadoop-hdfs-namenode.pid
RuntimeDirectory=hadoop

[Install]
WantedBy=multi-user.target
