[Unit]
Description=Prometheus Alertmanager
Documentation=https://prometheus.io/docs/alerting/alertmanager/

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/opt/alertmanager/alertmanager --config.file=/opt/alertmanager/alertmanager.yml --storage.path=/var/lib/alertmanager
TimeoutStartSec=5
Restart=on-failure
User=alertmanager
