# {{ ansible_managed }}
# borg help patterns
/dev/
/home/**/cache/
/home/**/Cache/
/home/**/.cache/
/lost+found
/proc/
/sys/
/tmp/
/var/cache/
/var/log/lastlog
{% for pattern in borg_extra_exclude_patterns %}
{{ pattern }}
{% endfor %}
