# Begin /etc/nsswitch.conf
# {{ ansible_managed }}

passwd: files sss
group: files sss
shadow: files sss
sudoers: files sss

publickey: files

hosts: files dns myhostname
networks: files

protocols: files
services: files
ethers: files
rpc: files

netgroup: files sss

# End /etc/nsswitch.conf
