<VirtualHost *:80>
	ServerName monitoring.deverteuil.net
	ServerAlias monitoring.private.deverteuil.net
  ServerAlias zabbix.private.deverteuil.net

	ServerAdmin alexandre@deverteuil.net
	DocumentRoot /usr/share/zabbix

	ErrorLog ${APACHE_LOG_DIR}/zabbix.error.log
	CustomLog ${APACHE_LOG_DIR}/zabbix.access.log combined
</VirtualHost>
