<?php
// Zabbix GUI configuration file
global $DB;

$DB['TYPE']     = 'POSTGRESQL';
$DB['SERVER']   = '{{ hostvars['postgresql']['ansible_eth1']['ipv4']['address'] }}';
$DB['PORT']     = '0';
$DB['DATABASE'] = '{{ zabbix_database_name }}';
$DB['USER']     = '{{ zabbix_database_user }}';
$DB['PASSWORD'] = '{{ zabbix_database_password }}';

// SCHEMA is relevant only for IBM_DB2 database
$DB['SCHEMA'] = '';

$ZBX_SERVER      = 'localhost';
$ZBX_SERVER_PORT = '10051';
$ZBX_SERVER_NAME = '';

$IMAGE_FORMAT_DEFAULT = IMAGE_FORMAT_PNG;
?>
