$ORIGIN {{ item.origin }}.
$TTL    {{ item.ttl|default("600") }}
@       IN      SOA     {{ ansible_hostname }}.{{ bind_localdomain }}. {{ bind_domainadmin }}. (
                                        {{ ansible_date_time.epoch }} ; Serial
                                        28800      ; Refresh
                                        1800       ; Retry
                                        604800     ; Expire - 1 week
                                        86400 )    ; Minimum
{% for rr in item.records %}
{{ rr }}
{% endfor %}
