//
// Do any local configuration here
// {{ ansible_managed }}
//

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";

// Static zones

{% for zone in named_static_zones %}
zone "{{ zone.origin }}" IN {
{% if named_master %}
    type master;
    file "/etc/bind/db.{{ zone.origin }}";
{% else %}
    type slave;
    file "/var/cache/bind/db.{{ zone.origin }}";
    masters { 192.168.13.8; };
{% endif %}
};
{% else %}
// (no static zones defined)
{% endfor %}

// Dynamic zones

{% for zone in named_dynamic_zones %}
zone "{{ zone.origin }}" IN {
{% if named_master %}
    type master;
    file "/var/lib/bind/db.{{ zone.origin }}";
    allow-update { key DHCP_UPDATER; };
{% else %}
    type slave;
    file "/var/cache/bind/db.{{ zone.origin }}";
    masters { {% for ip in named_masters %}{{ ip }}; {% endfor %}};
{% endif %}
};
{% else %}
// (no dynamic zones defined)
{% endfor %}
