// {{ ansible_managed }}

options {
        directory "/var/cache/bind";

        // If there is a firewall between you and nameservers you want
        // to talk to, you may need to fix the firewall to allow multiple
        // ports to talk.  See http://www.kb.cert.org/vuls/id/800113

        // If your ISP provided one or more IP addresses for stable
        // nameservers, you probably want to use them as forwarders.
        // Uncomment the following block, and insert the addresses replacing
        // the all-0's placeholder.

{% if named_forwarders %}
        forwarders { {% for f in named_forwarders %}{{f}}; {% endfor %}};
{% else %}
        // forwarders {
        //      0.0.0.0;
        // };
{% endif %}

        //========================================================================
        // If BIND logs error messages about the root key being expired,
        // you will need to update your keys.  See https://www.isc.org/bind-keys
        //========================================================================
        dnssec-validation auto;

        auth-nxdomain no;    # conform to RFC1035
        //listen-on-v6 { any; };

        allow-recursion { {% for f in named_allow_recursion_ips %}{{f}}; {% endfor %}};
{% if named_master %}
        allow-transfer { 192.168.13.88; };
{% else %}
        allow-notify { 192.168.13.8; };
{% endif %}
        allow-update { none; };

        version none;
        hostname none;
        server-id none;
};
