#
# LDAP Defaults
#

# See ldap.conf(5) for details
# This file should be world readable but not world writable.

#BASE   dc=example,dc=com
#URI    ldap://ldap.example.com ldap://ldap-master.example.com:666
BASE            {{ ldap_suffix }}
URI             ldaps://{{ ldap_hostname }}
TLS_CACERTDIR   /usr/share/ca-certificates/trust-source

#SIZELIMIT      12
#TIMELIMIT      15
#DEREF          never
